

h2 {
  word-spacing: 200px;
  margin-right: 200px;
  margin-left: 200px;
}


h3  {
 font-family: 'Lobster', Georgia, Times, serif;
 font-size: 70px;
 line-height: 100px;
}

p, h2 {
 font-family: 'Cabin', Helvetica, Arial, sans-serif;
 font-size: 30px;
 line-height: 25px;
}

p {
    margin-right: 300px;
    margin-left: 300px;
    font-size: 25px;
    text-indent: 50px;
    line-height: 1.6;
}

html {
  background-color: #f2f2f2	;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}
